Source: tfreezer
Section: unknown
Priority: optional
Maintainer: Pablo Vigo <pvigo@xtec.cat>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://launchpad.net/trivialfreezer

Package: tfreezer
Architecture: all
Depends: zenity, python-ldap, python-paramiko, gksu
Description: Trivial Freezer allows to keep users frozen.
 Trivial Freezer allows system administrators to manage the files and configurations to keep them frozen between user sessions. 
